.logo-container {
    position: absolute;
    top: 10px;
    left: 15px;
  }
  
  .logo {
    width: 120px; /* Ajustem conforme necessário */
    height: auto;
  }

  .logo1 {
    height: 50px;
    width: auto; /* Caso não gostarem do formato, avisem que eu tento mudar depois*/
    margin-right: 15px;
  }
  